<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XTSNS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28371DD71B9ED0100012CEF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28371DF01B9ED0100012CEF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28371DFB1B9ED0100012CEF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
